.section-featured {
  margin: 4.8rem 0 3.2rem;
}
.heading-featured-in {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 1px;
  color: #888;
  margin-bottom: 2.4rem;
  font-weight: 600;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
